<!-- views/partials/navbar.ejs -->

<nav class="nav">
  <ul>
    <li>
      <div>
        <a href="/" >Home</a>
      </div>
    </li>

    <li>
      <div>
        <a href="/products" >Products</a>
      </div>
    </li>
    <li>
      <div>
        <a href="/products/create">Create Product</a>
      </div>
    </li>
    <li>
      <div>
        <a href="/products/delete" >Delete Product</a>
      </div>
    </li>
    <li>
      <div>
        <a href="/products/update" >Update Product</a>
      </div>
    </li>
    <li>
      <div>
        <a href="/products/admin" >Admin</a>
      </div>
    </li>
  </ul>
</nav>
